.container-wrapper
{
    width: 100%;
};

.container-wrapper ul
{
    
    display: flex;

    flex-wrap: wrap;
    flex-direction: column;

};

.container-wrapper ul li
{
    
    justify-content: center;
    display: inline;

    margin : 0px;
    padding: 0px;

};