//

%extend-width
{
    width : 100%;
}

%no-margin
{
    margin:0px;
}

%no-padding
{
    padding: 0px;
}

%no-margin-and-padding
{
    @extend %no-margin;
    @extend %no-padding;
}

%test-boundary
{
    border:1px solid greenyellow;
}