/* 
 *
*/
.page_header_area
{
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: auto auto;
    
    grid-gap: 8px;
};

.page_header_area ul
{
    

};

//---------------------------------------------------------------------------------- //
.page_header_area ul li a
{
    @extend %main-header-resting;
};

.page_header_area ul li a:hover
{
    @extend %main-header-hightlighted;
};

.page_header_area ul li a:active
{
    @extend %main-header-active;
};
//---------------------------------------------------------------------------------- //

.sub_header_menu_area
{
    display : grid;
    
    grid-template-rows    : auto;
    grid-template-columns : auto auto;
    
    grid-gap : $site_header_subheader_gap;
};

/* 
 *
*/
.sub_header_container
{
    //
    grid-area : auto;

};

.sub_header_container:first-child
{
    border-right: 1px solid black;
};

.sub_header_container:last-child
{
    border-left: 1px solid black;
};

.sub_header_container ul
{
    @extend %generic_horizontal_ul_centered_menu;
    
};

// frameworks
.sub_header_container ul li a
{
    @extend %sub-header-resting;

};

.sub_header_container ul li a:hover
{
    @extend %sub-header-hightlighted;

};

.sub_header_container ul li a:active
{
    @extend %sub-header-active;

};

@import './desktop_floating.scss';