/*
    @extend %extend-width;

    position: absolute;

    z-index: 4;
    top: 0px;
*/
.page_header_area
{

};

.subheadermenu
{
    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: auto;

    grid-gap: 16px;
}

.subheader_container
{
    grid-area: auto;

}

@import './desktop_floating.scss';