header
{
    //
    @extend %no-margin-and-padding;
    
};

// generic 
header ul
{
    //
    @extend %generic_unordered_menu;
    @extend %generic_horizontal_ul_centered_menu;

};

//
header ul li
{
    //
    @extend %generic_horizontal_ul_element;
    
    //
    margin-left   : 56px;
    margin-right  : 56px;

    margin-top    : 8px;
    margin-bottom : 8px;
};

// Generic header link
header ul li a
{
    @extend %generic_link;
    
};
