
@media only screen and ( max-width : 768px )
{
    .page_header_area
    {
        
    };
    
    .mobile_page_navigation_area
    {
        
    };
    
    .mobile_page_navigation_area ul
    {
        
    };
    
    .mobile_page_navigation_area ul a
    {
        
    };
    
    .mobile_page_navigation_area ul a:hover
    {
        
        
    };
    
    .mobile_page_navigation_area ul a li
    {
        
    };

    .sub_header_menu_area
    {
        grid-template-rows    : auto auto;
        grid-template-columns : auto;
    
        grid-gap: 32px;
    }
    
    .selected_page
    {
        
        
    };

    .selected_page:hover
    {
        
        
    };
};

//
@media only screen and ( min-width: 769px )
{
    
};