
@media only screen and (max-width: 768px)
{
    .page_header_area
    {
        display: none;
    }

    .mobile_page_navigation_area
    {
        
        transition-duration: 2s;

        z-index: 4;

        background-color: black;

        overflow : hidden;
        position : fixed;

        width  : calc( 100% - 95px );
        height : 100%;

        right: 0px;

        box-shadow: -6px 0px 
                    16px 
                    rgba( 0, 0, 0, 
                            0.2 );
    }

    .mobile_page_navigation_area ul
    {
        padding : 0px;
        margin  : 0px;
    }

    .mobile_page_navigation_area ul a
    {
        padding : 0px;
        margin  : 0px;

        padding-top    : 8px;
        padding-bottom : 8px;

        width : 100%;
    }

    .mobile_page_navigation_area ul a:hover
    {
        
        color: white !important;
    }

    .mobile_page_navigation_area ul a li
    {
        width : 100%;

        text-align : center;
    }

    .selected_page
    {
        border : 0px;

        color            : white !important;
        background-color : #D63031;
        
    }

    .selected_page:hover 
    {
        border: 0px;

        color : white !important;
    }
}

@media only screen and (min-width: 769px) 
{
    .hide 
    {
        display: none !important;
    }
}
