*
{

}

body 
{
    margin  : 0px;
    padding : 0px;

    display : grid;

    grid-template-columns : 1fr;
    grid-template-rows    : auto auto auto;
    
    grid-gap: 36px;
}

header
{
    grid-area: auto;

}

main
{
    grid-area: auto;

}

footer
{
    grid-area: auto;

}