// Generics
*
{

}

a
{
    text-decoration: none;
}

ul 
{
    @extend %no-margin-and-padding;
}

li 
{
    list-style-type: none;
}

div 
{
    @extend %no-margin-and-padding;
};

// Start of Document
body 
{
    @extend %no-margin-and-padding;

    display : grid;

    grid-template-columns : 1fr;
    grid-template-rows    : auto auto auto;
    
    grid-gap: 36px;
};

header
{
    @extend %extend-width;

    grid-area : auto;
};

//
a 
{
    color: black;
};

a:hover
{
    
    color: red;
};

a:active
{
    
    color: orange;
};

//
.page_header_area
{
    border:1px solid white;
};

.overlay
{

};

.sub_header_menu_area
{
    display : grid;

    grid-template-columns : 1fr 1fr;
    grid-template-rows    : auto;

    grid-gap : 36px;
};

.sub_header_container
{
    grid-area : auto;

};

main
{
    @extend %extend-width;
    grid-area : auto;
};

footer
{
    @extend %extend-width;
    grid-area : auto;
};

.footer-misc
{

};

.footer-misc ul
{

};


//
.sub_header_menu_area
{

};

.sub_header_container
{

};

//
.menu_element
{
    margin-left: 36px;
    margin-right: 36px;
};