// Generics
*
{

}

a 
{
    text-decoration: none;
}

ul 
{
    @extend %no-margin-and-padding;
}

li 
{
    list-style-type: none;
}

div 
{
    @extend %no-margin-and-padding;
}

// Document Page
body 
{
    @extend %no-margin-and-padding;

    display : grid;

    grid-template-columns : 1fr;
    grid-template-rows    : auto auto auto;
    
    grid-gap: 36px;
}

header
{
    @extend %extend-width;
    grid-area : auto;

    border:1px solid black;
}

.sub_header_menu_area
{
    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: auto;

    grid-gap: 36px;
}

.sub_header_container
{
    grid-area: auto;

}

main
{
    @extend %extend-width;
    grid-area : auto;

}

footer
{
    @extend %extend-width;
    grid-area : auto;

}

.container-wrapper
{
    @extend %extend-width;
};

.container-wrapper ul
{
    display: flex;

    justify-content: center;

    flex-wrap: wrap;
    flex-direction: row;

};

.container-wrapper ul li
{
    @extend %no-margin-and-padding;
    display: block;
};

.sub_header_menu_area
{

};

.sub_header_container
{

};
