//
#cover-container-homepage
{
    width  : 100%;
    height : 550px;

    
    background-size     : cover;
    background-position : center;
    background-image    : url('https://curie.designermadsen.com/sites/images/pexel/6.jpg');

    position : absolute;

    top: -132px;

    z-index: -1;
}