/* Generics.scss */
    // Generic Objects
%no-margin
{
    margin: 0px;
}

%no-padding
{
    padding:0px;
}

%no-margin-and-padding
{
    @extend %no-margin;
    @extend %no-padding;
}

// Generic Classes
.wrapper-flexible-horizontal-menu
{
    @extend %no-margin-and-padding;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
};

.wrapper-element
{
    @extend %no-margin-and-padding;
    display: block;
};

