/* Generics.scss */
    // Generic Objects
%no-margin
{
    margin: 0px;
}

%no-padding
{
    padding:0px;
}

%no-margin-and-padding
{
    @extend %no-margin;
    @extend %no-padding;
}

// Generic Classes
.wrapper-flexible-horizontal-menu
{
    @extend %no-margin-and-padding;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
};

.wrapper-element
{
    @extend %no-margin-and-padding;
    display: block;
};

.menu-element
{
    font-family: $menu-font;
};

.menu-element a 
{

};

.header-element
{
    margin-left: 36px;
    margin-right: 36px;

    padding-top: 8px;
    padding-bottom: 8px;
};

.header-element a 
{
    color: white;
}