/* Variables.scss */
$background-color:#353b48;

$menu-font: 'Raleway', sans-serif;

$document-setting-minimum-height-header :65px;
$document-setting-minimum-height-main   :0px;
$document-setting-minimum-height-footer :0px;
