// Base Colors
$primary-active-color:red;

$primary-highlighted-color:orange;

$primary-passive-color:black;
$primary-passive-color-alt:white;

//
$primary-standard-menu-overlay-color:  #c0392b;

//
$primary-standard-menu-text-color: white;
$primary-highlight-menu-text-color: gray;
$primary-active-menu-text-color: black;

$primary-menu-font : 'montserrat';

//
$tier-0-screen:0px;
$tier-1-screen:768px;
$tier-2-screen:1024px;
$tier-3-screen:1240px;
$tier-4-screen:1980px;
