// Base Colors
$primary-active-color:red;

$primary-highlighted-color:orange;

$primary-passive-color:black;
$primary-passive-color-alt:white;

//
$primary-standard-menu-text-color: white;
$primary-highlight-menu-text-color: #e67e22;
$primary-active-menu-text-color: #2ecc71;


//
$primary-standard-menu-overlay-color: #353b48;
$primary-standard-menu-font-color:gray;

//
$primary-standard-menu-text-color        : $primary-standard-menu-text-color;
$primary-standard-menu-hover-text-color  : $primary-highlight-menu-text-color;
$primary-standard-menu-active-text-color : $primary-active-menu-text-color;

$primary-standard-background-color: #1c1f26;


$primary-menu-font : 'montserrat';
$main-min-height: 800px;


//
$tier-0-screen:0px;
$tier-1-screen:768px;
$tier-2-screen:1024px;
$tier-3-screen:1240px;
$tier-4-screen:1980px;

$tier-1-header-menu-space:0px;
$tier-2-header-menu-space:9px;
$tier-3-header-menu-space:18px;
$tier-4-header-menu-space:36px;