%link_base_tab
{
    text-transform : uppercase;
};

// States
%resting-state
{
    color : $document_header_not_active_color;
};

%resting-alternative-state
{

};

%hightlight-state
{
    color : $document_header_highlight_color;
};

%active-state
{
    color : $document_header_active_color;
};

%link_generic_menu_tab
{
    @extend %link_base_tab;

    font-family: $menu-text-font;
}

// Link Object UL 
%main_header_tab_link
{
    @extend %link_generic_menu_tab;

    font-weight : bold;
    font-size   : $site_header_main_text_size;
};

//
%main_subheader_tab_link
{
    @extend %link_generic_menu_tab;

    font-size: $site_header_subheader_text_size;
};


// Link Object for the header tab
    //
%main-header-resting
{
    @extend %main_header_tab_link;
    @extend %resting-state;

};

%main-header-active
{
    @extend %main_header_tab_link;
    @extend %active-state;

};

%main-header-hightlighted
{
    @extend %main_header_tab_link;
    @extend %hightlight-state;
};

// Main header Alternatives
%main-alt-header-resting
{
    @extend %main_subheader_tab_link;

    color:$document_header_not_active_color;
};

%main-alt-header-active
{
    @extend %main_subheader_tab_link;

};

%main-alt-header-hightlighted
{
    @extend %main_subheader_tab_link;
};

// ------------------------------------------------------------------------- 
    // Sub Headers
%sub-header-resting
{
    @extend %main_subheader_tab_link;
    @extend %resting-state;
};

%sub-header-active
{
    @extend %main_subheader_tab_link;
    @extend %active-state;
};

%sub-header-hightlighted
{
    @extend %main_subheader_tab_link;
    @extend %hightlight-state;
};