
@media only screen and ( max-width : 768px )
{
    .page_header_area
    {
        
    };
    
    .mobile_page_navigation_area
    {
        
    };
    
    .sub_header_menu_area
    {
        grid-template-rows    : auto auto;
        grid-template-columns : auto;
    
        grid-gap: $site_header_subheader_gap;
    };
    
    //
    .selected_page
    {
        
        
    };

    .selected_page:hover
    {
        
        
    };
    
    .selected_page:active
    {
        
        
    };
};

//
@media only screen and ( min-width: 769px )
{
    
};