//
body
{
    @extend %no-margin-and-padding;
    
    display  : grid;

    grid-gap : $site-body-page-gap;
    
    grid-template-rows      : auto auto auto;
    grid-template-columns   : 1fr;

    overflow-x : hidden;
};