//

#cover-container-homepage
{
    @extend %no-margin-or-padding;
    @extend %extend-fully;

    background-repeat: no-repeat;
    
    background-size     : cover;
    background-position : center;

    background-image    : url('https://curie.designermadsen.com/sites/images/4.jpg');

    position : absolute;

    z-index: -1;
}


#cover-container-homepage
{
    animation: animated_space_size linear 190s infinite;
}

@keyframes animated_space_size
{
    $base : 3.6;

    $base_size : 1.0;
    $expanded_size:2.0;

    $expand_propertional_too: 1.5;

    // _ Horizontal
    0% {
        transform : rotate( 0deg * $base )
                    scale( $base_size, $base_size );
    }

    // Range Area 5% - 20%
    5% {
        transform : rotate( 0deg * $base )
                    scale( $base_size, $base_size );
    }

    20% {
        transform : rotate( 0deg * $base )
                    scale( $base_size * $expand_propertional_too, $base_size * $expand_propertional_too );
    }
    // End of Range Area

    // | Vertical
    25% {
        transform : rotate( 25deg * $base )
                    scale( $base_size, $base_size );
    }

    // _ Horizontal
    50% {
        transform : rotate( 50deg * $base )
                    scale( $base_size, $base_size );
    }


    75% {
        transform : rotate( 75deg * $base )
                    scale( $base_size, $base_size );
    }
    
    // _ Horizontal
    100% {
        transform : rotate( ( 360deg - 1deg ) * $base )
                    scale( $base_size, $base_size );
    }

}