//

#cover-container-homepage
{
    @extend %no-margin-or-padding;
    @extend %extend-fully;

    background-repeat: no-repeat;
    
    background-size     : cover;
    background-position : center;

    background-image    : url('https://curie.designermadsen.com/sites/images/4.jpg');

    position : absolute;

    z-index: -1;
}


#cover-container-homepage
{
    animation: animated_space_size linear 190s infinite;
}

@keyframes animated_space_size
{
    $t : 10;

    //
    $base_full_degrees : 360;
    $base_increment_of_degrees : $base_full_degrees / $t;
    $base_size : 1.0;
    
    $range : 100%;
    $range_frame : $range / $t;

    @for $i from 0 to ($t + 1)
    {
        // current position
        $current_level: $i;
        
        // current position in procentage
        $current_frame: ( ( $i ) * $range_frame );

        // Generates Frame
        #{ $current_frame } {
            transform : rotate( i * $base_increment_of_degrees , i * $base_increment_of_degrees)
                        scale( $base_size, $base_size );
        }
    }
}