//
.selected_page
{
    color: $document_header_active_color !important;
    border-bottom: 2px solid $document_header_active_color;
};

.header-container
{
    grid-area: auto;
}

.header-container:first-child
{
    border-top: 1px solid black;
}

.header-container:last-child
{
    
    border-bottom: 1px solid black;
}

.selected_page:hover
{

};

.selected_page:active
{

};