.header-container
{
    height : 100%;
    width  : 100%;
    
    grid-area: auto;
};

.header-container:first-child
{
    border-top: 1px solid black;
};

.header-container:last-child
{
    border-top      : 1px solid black;
    border-bottom   : 1px solid black;
};

//
.selected_page
{
    opacity: 1.0 !important;
    color: $document_header_active_color !important;
    
    border-bottom: 1px solid $document_header_active_color; 
};

.selected_page:hover
{

};

.selected_page:active
{

};