//
.selected_page
{
    color: $document_header_active_color !important;
    border-bottom: 2px solid $document_header_active_color;
};

.header-container
{
    border-top: 1px solid black;
    grid-area: auto;
}

.selected_page:hover
{

};

.selected_page:active
{

};