// Generic ul menu, used for 
%generic_unordered_menu
{
    @extend %no-margin-and-padding;

    list-style-type : none;
};

%generic_link
{
    text-decoration: none;
};

// Used on ul
    //
%generic_horizontal_ul_centered_menu
{
    display: flex;

    flex-wrap: wrap;

    justify-content: center;
};

    //
%generic_horizontal_ul_element
{
    display : block;

};