//
// Aplly default color ?
footer
{
    //
    @extend %base-fill-area-width;

    background-color: $document_footer_color;
}

// Apply Color, ?
// Aplly default color ?
.footer-misc
{
    @extend %not-selecteble;
    
    //
    @extend %base-fill-area-width;

    background-color : white;
    color            : black;
}

// Apply default padding, Justify, Text Transform, Font size, alignment
.footer-misc p
{
    //
    @extend %base-fill-area-width;

    padding-top: 0px;
    padding-bottom: 6px;
    
    font-size : 12px;

    //
    @extend %text-center;
    @extend %text-to-uppercase;
}

// Apply default padding, Justify, Texttransform, Position, Font size 
.footer-misc ul
{
    @extend %no-margin-or-padding;

    padding-top: 6px;
    padding-bottom: 6px;

    display : flex;

    flex-wrap : wrap;
    list-style : none;

    justify-content: center;
    
    @extend %text-to-uppercase;

    font-size: 0.875rem;
}

// Apply color, default ui list type
// Apply margin, Weight
.footer-misc ul a
{
     color: black;
     text-decoration: none;

     margin-left  : 20px;
     margin-right : 20px;
     
     font-weight: bold;
}

// Apply Color
.footer-misc ul a:hover
{
     color : #D63031;
}

.footer-misc ul a li
{ 
    display: block;
}

// Normal content
    // Apply Color, Font
.footer-contact
{
    margin-top: 16px;
    margin-bottom: 16px;

    color: white;
    font-family: $menu-text-font;
}

// Apply color, interface link
.mail
{
    text-decoration: none;
    color:white;
}

// Apply Color
.mail:hover
{
    
    color: #D63031;
}

.footer-contact p
{
    @extend %no-margin-or-padding;
    @extend %extend-width;
    
    @extend %text-center;
    
    font-size: 0.875rem;
}

// Apply default margin
.footer-social
{
    margin-top: 16px;
    margin-bottom: 16px;
}


// Apply default flex ui
.footer-social ul
{
    @extend %no-margin-or-padding;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

// Apply default margin center, text align center, color? width ? Default list.
.footer-social ul div li a
{
    @extend %no-margin-or-padding;
    @extend %margin-center;
    
    @extend %text-center;

    color: white;

    width: 50px;
    
    display: block;

    text-decoration: none;
    list-style-type: none;
}

// apply default size
.footer-social ul div li a i
{
    @extend %text-center;
    font-size: 32px;
}

// Default size ?
.footer-social-container
{
    width: 50%;
}

// Default Container
.footer-social-container li
{
    @extend %margin-center;
}

// Buttons, Social Media
.facebook a:hover
{
    color:#3b5998;
}

.instagram a:hover
{
    color:#D63031;
}

.twitter a:hover
{
    color: #00aced;
}

.youtube a:hover
{
    color:#cc181e;
}


// Rules
@media only screen and (max-width: 768px) 
{
    .footer-misc ul a
    {
        width: 100%;

        margin  : 0px !important;
        padding : 0px !important;

        text-align    : center;
        border-bottom : 1px solid black;
    }
}

// Footer
@import './footer/_head.scss';
