// Apply
.page_navigation_area
{
    @extend %extend-width;
    @extend %no-overflow;

     display: none;
    
     z-index: 4;

     position : fixed;

     background-color: rgba( $color: $document_header_overlay_background_color,
                             $alpha: $site_header_opacity );
}

// Apply Color
.selected_page
{
    color : #D63031 !important;
    border-bottom : 2px solid #D63031 !important;
}

.page_header_area
{
    
}

// ?, Animate
.open
{
    transform: translateX( -450px ) !important;
    transition-duration: 2s;
}

.open
{

}

// Animate, combination of js ?
.open .open-icon
{
    display: none;
}

.open .close-icon
{
    display: block;
}

.close-icon
{
    display: none;
}

// Standardnised
.overlay
{
    background-color: rgba( $color: $document_header_overlay_background_color, 
                            $alpha: $site_header_opacity );

    border-bottom: 1px solid black;
}

/* 
    Default Settings
*/
header
{

}

// Margin and padding
header ul
{
    //
    @extend %no-margin-or-padding;

    text-transform : uppercase;

    display   : flex;
    flex-wrap : wrap;
    
    justify-content : center;
}

// Apply Font and Color
header ul a
{
    color:white;
    font-family : $menu-text-font;

    font-size : 0.875rem;
    
    text-decoration : none;
    
    
    border-bottom : 2px solid rgba( 255, 255, 
                                      255, 
                                      0.0 );
    
    margin-top    : 8px;
    margin-bottom : 8px;

    margin-right : 56px;
    margin-left  : 56px;
}

// Apply Color
header ul a:hover
{
    color: #D63031 !important;
}

// Apply Padding
header ul a li
{
    display : block;

    padding-left  : 8px;
    padding-right : 8px;
}

// Change name, Animate
    // Show / Hide nav bar
    // Header rules.
.show
{
    
    transform: translateX(0px);
}

.hide 
{
    transform: translateX(100%);
    transition-duration: 2s;
}

// Coloor, Background, Circle, Size, Position, Feature
// Shadow, layer position
.menu_button
{
    // Feature
    @extend %selectable;
    @extend %make-circle;

    // Layer
    z-index : 4;
    
    //
    position : fixed;

    top   : 20px;
    right : 20px;

    //
    width  : 50px;
    height : 50px;
    
    transform: translateX(0%);

    //
    border : 2px solid #D63031;
    background-color : white;

    box-shadow : 0px 0px 
                 16px 
                 rgba( 0, 0, 
                         0, 
                         0.4);
}

// Apply Color
.menu_button:hover div i
{
    color: white;
}

/* Apply extend size */
.menu_button_icon
{
    @extend %extend-fully;
    position: relative;

}

// Apply color, font size, margin.
// Change position, Center
.menu_button_icon i
{
    @extend %no-margin-or-padding;

    color: #D63031;

    font-size: 30px;

    position : absolute;

    top  : 50%;
    left : 50%;
    
    transform: translate(-50%, -50%);
}

//
@import './header/_head.scss';
