// Apply
.page_navigation_area
{
    @extend %extend-width;
    @extend %no-overflow;

    transition-duration: $action-nav-transition;
    transform: translateY(-200px);

     z-index: 4;

     position : fixed;

     background-color: rgba( $color: $document_header_overlay_background_color,
                             $alpha: $site_header_opacity );
}

// Apply Color
.selected_page
{
    color : #D63031 !important;
    border-bottom : 2px solid #D63031 !important;
}

.page_header_area
{
    @extend %extend-width;

    position: absolute;

    z-index: 4;
    top: 0px;
    
}

/* 
    Default Settings
*/
header
{

}

// Margin and padding
header ul
{
    //
    @extend %no-margin-or-padding;

    display   : flex;
    flex-wrap : wrap;
    
    justify-content : center;
}

// Apply Font and Color
header ul a
{
    @extend %menu-element-header;
    
    margin-top    : 8px;
    margin-bottom : 8px;

    margin-right : 56px;
    margin-left  : 56px;
}

// Default setup
header ul a:hover
{
    
}

// Apply Padding
header ul a li
{
    display : block;

    padding-left  : 8px;
    padding-right : 8px;
}

//
@import './header/_head.scss';
