// per default
.container-wrapper
{
    @extend %extend-width;
};

.container-area-3
{
    @extend %extend-width;
    @extend %no-padding;

    display : grid;
    
    grid-gap: 36px;
};

.container-area-3 .container-area
{
    grid-column: span 1;
    text-align: center;
};

.container-area-content
{
    width: 80%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
};

.container-area-title
{
    font-size: 0.975rem;
    text-align: left;
    font-family: 'quicksand';

};

.sub_header_menu_area
{
    display : grid;

    grid-template-columns : 1fr 1fr;
    grid-template-rows    : auto;

    grid-gap : 144px;
};

.header-menu-overlay
{
    
};

.sub_header_container
{
    grid-area : auto;

};

.header-container
{
    
};

//
.area 
{
    margin-bottom: 8px;
    margin-top: 8px;
};

.document-area
{
    width: 100%;
};

.page
{
    width: 100%;
    
    padding-top    : 8px;
    padding-bottom : 32px;

    
    margin-bottom: 8px;
};

.sub_header_container
{

};
