/*
    Max width, on screens that are x wide or less, 
*/
@media only screen and ( max-width: $tier-4-screen )
{
    .container-area-3
    {
        background-color: blue;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-gap: 56px;
    };

    .container-area-3 .container-area
    {
        
    };

};

@media only screen and (max-width: $tier-3-screen)
{
    .container-area-3
    {
        background-color: brown;
        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

    };

    .container-area-3 .container-area
    {
        
    };

};

@media only screen and (max-width: $tier-2-screen)
{
    .container-area-3
    {
        
        background-color: orange;
      
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    };

    .container-area-3 .container-area:last-child
    {
        
        
        
    };
};

/* 
    Mobiles
*/
@media only screen and (max-width:$tier-1-screen)
{
    .sub_header_menu_area
    {
        grid-template-columns : auto;
        grid-template-rows    : auto auto;

        grid-gap : 16px;
    };

    
    .container-area-3
    {
        background-color: green;
        
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    };

    .container-area-3 .container-area
    {
        text-align: center;
    };

};

