.container-wrapper
{
    @extend %extend-width;
    grid-area: auto;
};

.container-area-3
{
    @extend %extend-width;
    display: grid;

    grid-template-columns : 1fr;
    grid-template-rows    : auto auto auto;

    grid-gap: 8px;
};

.container-area
{
    grid-area: auto;
    width: 100%;
};
