/*
    Max width, on screens that are x wide or less, 
*/
@media only screen and ( max-width: $tier-4-screen )
{
    .container-area-3
    {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-gap: 64px;
    };
};

@media only screen and (max-width: $tier-3-screen)
{
    .container-area-3
    {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

        grid-gap: 36px;
    };

    .sub_header_menu_area
    {
        grid-gap: 72px;

    };
};

@media only screen and ( max-width: $tier-2-screen )
{
    .container-area-3
    {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    };

    .container-area-3 .container-area:last-child
    {
        grid-column: span 2;
    };

    .sub_header_menu_area
    {
        grid-gap: 36px;

    };
};

/* 
    Mobiles
*/
@media only screen and ( max-width: $tier-1-screen )
{
    .sub_header_menu_area
    {
        grid-template-columns : auto;
        grid-template-rows    : auto auto;

        grid-gap : 16px;
    };
    
    .container-area-3
    {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto auto auto !important;

        grid-gap: 36px !important;
    };

    .container-area-3 .container-area
    {
        grid-column: span 1 !important;
    };

};

