//
%no-margin
{
  margin  : 0px;
}

%no-margin-or-padding
{
  @extend %no-margin;
  padding : 0px;
}

// page area sizes
%extend-width
{
  width: 100%;
}

%extend-height
{
  height: 100%;
}

%extend-fully
{
  @extend %extend-width;
  @extend %extend-height;
}

%base-fill-area-width
{
  @extend %no-margin-or-padding;
  @extend %extend-width;
}

//
%no-overflow
{
  overflow : hidden;
}

//
%text-center
{
  text-align: center;
}

%text-to-uppercase
{
  text-transform: uppercase;

}
//
%margin-center
{
  margin-left  : auto;
  margin-right : auto;
}

// Generic Forms
  // dic form
%make-circle
{
  border-radius : 100%;
}

//
@import './header/_head.scss';
@import './footer/_head.scss';