@import './header/_head.scss';

//
%no-margin
{
  margin  : 0px;
}

%no-margin-or-padding
{
  @extend %no-margin;
  padding : 0px;
}

// page area sizes
%extend-width
{
  width: 100%;
}

%extend-fully
{
  @extend %extend-width;
  
  height: 100%;
}

//
%margin-center
{
  margin-left: auto;
  margin-right: auto;
}

// Generic Bodies


// dic form
%make-circle
{
  border-radius : 100%;
}

