// Rules
%not-selecteble
{
  /* Chrome all / Safari all */
  -webkit-user-select: none;  
  
  /* Firefox all */
  -moz-user-select: none;
  
  /* IE 10+ */
  -ms-user-select: none;

  /* Likely future */
  user-select: none;          
};

%selectable
{
    Cursor : pointer;
};

@media only screen and (max-width: 768px)
{
    /*
        ONLY - Rules
    */
    .hide_on_mobile
    {
        display: none !important;
    }
}

@media only screen and (min-width: 769px)
{
    .hide_on_desktop
    {
        display: none !important;
    }
}