//
$selected_bottom_border : 2px;

// 

//Fonts used
$menu-text-font : 'Montserrat',
                  sans-serif;

    // Title Areas
$body-document-title-font   : 'Raleway',
                               sans-serif;
                               
$body-document-title-font-optional : 'Raleway Dots',
                                      cursive;
    // Content Area Fonts
$body-document-content-font : 'Fira Sans',
                              sans-serif;
