// Colors
    // Text Color
$document_header_overlay_text_color : #000000;

    // Background
$document_header_background_color         : #FFFFFF;
$document_header_overlay_background_color : #000000;

    // Default, Highlight
$document_header_highlight_color : #D63031;

    // Default, Activated
$document_header_active_color    : red;

    // Default, #FFFFFF, #000000
$document_header_not_active_color             : #000000;
$document_header_not_active_color_alternative : #FFFFFF;

$document_header_background: #FFFFFF;

// Opacities
$site_header_opacity : 1.0;

$site_header_subheader_opacity_resting     : 0.355;
$site_header_subheader_opacity_highlighted : 0.65;

// gaps

$site_header_subheader_gap: 32px;

// Text Sizes
$site_header_main_text_size      : 0.875rem;
$site_header_subheader_text_size : 0.750rem;
$site_header_tiertary_text_size  : 0.675rem;