// Text Color
$document_header_overlay_text_color: #000000;


// Background
$document_header_background_color: #000000;
$document_header_overlay_background_color: #000000;


$site_header_opacity: 0.5;