// Colors
    // Text Color
$document_header_overlay_text_color : #000000;

    // Background
$document_header_background_color         : #000000;
$document_header_overlay_background_color : #000000;

    // Default, Highlight
$document_header_highlight_color : #D63031;

    // Default, Activated
$document_header_active_color    : red;

    // Default, #FFFFFF, #000000
$document_header_not_active_color             : #000000;
$document_header_not_active_color_alternative : #FFFFFF;


// Opacities
$site_header_opacity : 1.0;