$selected_bottom_border:2px;

//
$document_header_color: #000000;
$document_footer_color: #000000;

// color opacity
$site_header_opacity: 0.5;
$site_footer_opacity: 0.5;

// To be replaced
$header-font: 'Open Sans';
$footer-font: 'Open Sans';

// 

//Fonts used
$menu-text-font : 'Montserrat';

    // Title Areas
$body-document-title-font   : 'Raleway',
                               sans-serif;

$body-document-title-font-optional : 'Raleway Dots',
                                      cursive;

    // Content Area Fonts
$body-document-content-font : 'Fira Sans',
                              sans-serif;
