footer
{
    @extend %no-margin-and-padding;
    
    grid-area  : auto;
    overflow-x : hidden;

    width: 100%;
    
    border: 1px solid black;
};

.footer-misc
{
    
};

.footer-misc p
{
    padding: 0px;
    margin:0px;

    padding-bottom: 6px;

    text-transform: uppercase;
    text-align : center;

    font-weight: bold;

    font-family: 'open sans';
};

// Unordered list
.footer-misc ul
{
    @extend %generic_unordered_menu;
    @extend %generic_horizontal_ul_centered_menu;

    width : 100%;
    
    padding : 0px;

    padding-top    : 6px;
    padding-bottom : 6px;

    margin : 0px;
};

// Element in a unordered list
.footer-misc ul li
{
    @extend %generic_horizontal_ul_element;
    
    margin: 0px;

    margin-left  : 16px;
    margin-right : 16px;
};

// Links in footer misc.
.footer-misc ul li a
{
    @extend %generic_link;
    @extend %main_tiertary_header_tab_link;

    @extend %main-header-resting;
};

.footer-misc ul li a:hover
{
    @extend %main-header-active;
};

.footer-misc ul li a:active
{
    @extend %main-header-active;
};

//
.footer-contact
{
    
};

// Footer containers
.footer-social
{

};

// list
.footer-social ul
{
    @extend %generic_unordered_menu;
};

//
.footer-social ul div li a
{
    @extend %generic_link;
};

// logos
.footer-social ul div li a i
{

};

.footer-social-container
{
    width  : 50px;
    height : 50px;
};

.footer-social-container li
{
    

};

// Tag: Mail
.mail
{
    @extend %generic_link;

};

.mail:hover
{

};