//
%menu-element
{
    font-family : $menu-text-font;
}

//
%menu-element-header-default
{
    @extend %menu-element;
    text-transform : uppercase;
}

//
%menu-element-header-main
{
    @extend %menu-element-header-default;
    font-size : $site_header_main_text_size;
}

%menu-element-header-sub
{
    @extend %menu-element-header-default;
    font-size : $site_header_sub_text_size;
}