//
.hide-on-mobile
{
    
};

.hide-on-desktop
{
    display: none;
};

// Rules
@media only screen and ( max-width : $tier-4-screen )
{

};

//
@media only screen and ( max-width : $tier-1-screen )
{
    .hide-on-mobile
    {
        display : none !important;
    };

    .hide-on-desktop
    {
        display : block !important;
    };
};